In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nfl_data_py as nfl
#import dataframe_image as dfi

In [165]:
##draft=pd.read_csv('..\\Data\\NFL-Draft-8515\\nfl_draft.csv')
players=pd.read_csv('..\\Data\\NFL-Stats-1222\\yearly.csv')
years=range(1991,2024)
draft=pd.DataFrame(nfl.import_draft_picks(years))

draft.to_csv('..\\Data\\NFL-Draft-9123.csv', index=False)

In [8]:
draft=pd.read_csv('..\\Data\\NFL-Draft-9123.csv')
draft.columns

Index(['season', 'round', 'pick', 'team', 'gsis_id', 'pfr_player_id',
       'cfb_player_id', 'pfr_player_name', 'hof', 'position', 'category',
       'side', 'college', 'age', 'to', 'allpro', 'probowls', 'seasons_started',
       'w_av', 'car_av', 'dr_av', 'games', 'pass_completions', 'pass_attempts',
       'pass_yards', 'pass_tds', 'pass_ints', 'rush_atts', 'rush_yards',
       'rush_tds', 'receptions', 'rec_yards', 'rec_tds', 'def_solo_tackles',
       'def_ints', 'def_sacks'],
      dtype='object')

In [14]:
draft[['pfr_player_name', 'season','to']].head()

    pfr_player_name  season      to
0  Russell Maryland    1991  2000.0
1       Eric Turner    1991  1999.0
2     Bruce Pickens    1991  1995.0
3        Mike Croel    1991  1998.0
4        Todd Lyght    1991  2002.0

In [166]:
active_players=players[players['season']==2022]
retired_players=players[players['name'].isin(active_players['name'])==False]

In [167]:
rp=retired_players[['name','season']]
finalYear=rp.groupby('name').max('season').reset_index()
firstYear=rp.groupby('name').min('season').reset_index()
d=draft[draft['pfr_player_name'].isin(finalYear['name'])].sort_values('pfr_player_name').reset_index(drop=True)
d=d.rename(columns={'pfr_player_name':'name','season':'draft_year'})
d=d[['name','draft_year', 'round', 'pick', 'team']]

retired=d.merge((finalYear.merge(firstYear, on='name', how='left')), on='name', how='left')

In [173]:
retired['years_played']=retired['season_x']-retired['season_y']+1
averageByRound=retired.groupby('round').mean()
averageByRound=averageByRound.rename(columns={'years_played':'Mean Career Length'})

seCareer=retired.groupby('round').sem()
averageByRound['Standard Error']=seCareer['years_played']
averageByRound.drop(averageByRound.tail(1).index,inplace=True)
averageByRound.index.names=['Round']
display(averageByRound)
dfi.export(averageByRound[['Mean Career Length', 'Standard Error']].style.format("{:.3f}"), 'meanNFLCareer.png')

,draft_year,pick,season_x,season_y,Mean Career Length,Standard Error
Round,,,,,,
1,2007.846939,15.938776,2016.132653,2012.602041,4.530612,0.265961
2,2009.627660,48.946809,2016.191489,2012.946809,4.244681,0.240436
3,2010.730769,81.721154,2016.326923,2013.403846,3.923077,0.256248
4,2012.147541,116.950820,2016.467213,2013.975410,3.491803,0.207972
5,2013.318681,154.901099,2017.384615,2014.725275,3.659341,0.251112
6,2012.514286,191.504762,2016.838095,2014.400000,3.438095,0.232018
7,2012.224490,233.530612,2016.040816,2014.418367,2.622449,0.197563

In [154]:
salaries=pd.read_csv('..\\Data\\nfl_salaries.csv')
salaries=salaries.rename(columns={'Player':'name'})
playerSalaries=players.merge(salaries, on='name', how='left')
playerSalaries=playerSalaries.merge(d, on='name', how='left')

In [155]:
playerSalaries['Salary'] = playerSalaries['Salary'].replace('[\$,]', '', regex=True).astype(float)

In [163]:
averageByRound=playerSalaries.groupby('round_y').mean()
averageByRound.style.format("{:.3f}")
averageByRound.index.names = ['Round']
averageByRound=averageByRound.rename(columns={'Salary':'Mean Salary'})
averageByRound=averageByRound.dropna()
seSal=playerSalaries.groupby('round_y').sem()
averageByRound['Standard Error']=seSal['Salary']

averageByRound.index.names = ['Round']
averageByRound.index=averageByRound.index.astype(int)

dfi.export(averageByRound[['Mean Salary', 'Standard Error']].style.format("{:.0f}"), 'meanNFLSalary.png')

## NHL Stats

In [3]:
nhl_draft=pd.read_csv('..\\Data\\NHL-Draft\\nhldraft.csv')
display(nhl_draft.columns)
nhl_draft=nhl_draft[nhl_draft['year']>1990]
teams={}
for i in range(1991,2023):
    teams[i]=(len(nhl_draft[nhl_draft['year']==i]['team'].unique()))
round=[]
for index, row in nhl_draft.iterrows():
    round.append((row['overall_pick']//teams[row['year']])+1)
nhl_draft['round']=round

skaters=pd.read_csv('..\\Data\\NHL-Stats-0922\\skaters.csv')
goalies=pd.read_csv('..\\Data\\NHL-Stats-0922\\goalies.csv')
gl_draft=nhl_draft[nhl_draft['position']=='G']
sk_draft=nhl_draft[nhl_draft['position']!='G']
display(skaters.columns)

Index(['id', 'year', 'overall_pick', 'team', 'player', 'nationality',
       'position', 'age', 'to_year', 'amateur_team', 'games_played', 'goals',
       'assists', 'points', 'plus_minus', 'penalties_minutes',
       'goalie_games_played', 'goalie_wins', 'goalie_losses',
       'goalie_ties_overtime', 'save_percentage', 'goals_against_average',
       'point_shares'],
      dtype='object')

Index(['playerId', 'season', 'name', 'team', 'position', 'situation',
       'games_played', 'icetime', 'shifts', 'gameScore',
       ...
       'OffIce_F_xGoals', 'OffIce_A_xGoals', 'OffIce_F_shotAttempts',
       'OffIce_A_shotAttempts', 'xGoalsForAfterShifts',
       'xGoalsAgainstAfterShifts', 'corsiForAfterShifts',
       'corsiAgainstAfterShifts', 'fenwickForAfterShifts',
       'fenwickAgainstAfterShifts'],
      dtype='object', length=154)

In [4]:
skaters

,playerId,season,name,team,position,situation,games_played,icetime,shifts,gameScore,...,OffIce_F_xGoals,OffIce_A_xGoals,OffIce_F_shotAttempts,OffIce_A_shotAttempts,xGoalsForAfterShifts,xGoalsAgainstAfterShifts,corsiForAfterShifts,corsiAgainstAfterShifts,fenwickForAfterShifts,fenwickAgainstAfterShifts
0,8462196,2008,Stephane Robidas,DAL,D,other,72,6729.0,105.0,31.93,...,6.79,12.11,106.0,122.0,0.14,0.00,4.0,0.0,3.0,0.0
1,8462196,2008,Stephane Robidas,DAL,D,all,72,105958.0,2026.0,31.71,...,95.61,116.39,2161.0,2223.0,0.00,0.00,0.0,0.0,0.0,0.0
2,8462196,2008,Stephane Robidas,DAL,D,5on5,72,74053.0,1480.0,31.71,...,66.29,74.66,1678.0,1647.0,3.64,0.18,91.0,10.0,74.0,8.0
3,8462196,2008,Stephane Robidas,DAL,D,4on5,72,10397.0,235.0,30.26,...,2.24,27.37,57.0,380.0,0.15,0.00,3.0,0.0,3.0,0.0
4,8462196,2008,Stephane Robidas,DAL,D,5on4,72,14779.0,206.0,31.69,...,19.15,1.47,294.0,42.0,0.13,0.00,6.0,0.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67430,8478911,2022,Matt Roy,LAK,D,other,82,3806.0,64.0,31.22,...,18.75,13.85,147.0,140.0,0.01,0.00,2.0,0.0,1.0,0.0
67431,8478911,2022,Matt Roy,LAK,D,all,82,92377.0,1802.0,40.08,...,192.70,161.97,3415.0,3001.0,0.00,0.00,0.0,0.0,0.0,0.0
67432,8478911,2022,Matt Roy,LAK,D,5on5,82,78783.0,1522.0,40.08,...,117.82,109.30,2509.0,2289.0,3.43,0.92,87.0,12.0,68.0,8.0
67433,8478911,2022,Matt Roy,LAK,D,4on5,82,9555.0,196.0,38.80,...,2.74,27.57,45.0,435.0,0.48,0.00,3.0,0.0,3.0,0.0
67434,8478911,2022,Matt Roy,LAK,D,5on4,82,233.0,20.0,16.30,...,13.12,1.57,172.0,32.0,0.00,0.00,2.0,0.0,0.0,0.0

In [84]:
display(nhl_draft['overall_pick'].max())

293

In [158]:
active_skaters=skaters[skaters['season']==2022]
retired_skaters=skaters[skaters['name'].isin(active_skaters['name'])==False]
active_goalies=goalies[goalies['season']==2022]
retired_goalies=goalies[goalies['name'].isin(active_goalies['name'])==False]

In [174]:
retired=nhl_draft.dropna(subset=['to_year'])
retired=retired[retired['to_year']<2022]
retired['Mean Career Length']=retired['to_year']-retired['year']+1

rgp=retired.groupby('round').mean()
rgp=rgp[['Mean Career Length']]
seRetire=retired.groupby('round').sem()
rgp['Standard Error']=seRetire['Mean Career Length']
display(rgp)
dfi.export(rgp.style.format("{:.3f}"), 'meanNHLCareer.png')

       Mean Career Length  Standard Error
round
1               12.157647        0.244046
2               10.224181        0.227952
3                9.700658        0.253166
4               10.092664        0.271890
5                9.646154        0.319206
6               10.027174        0.335533
7                9.880240        0.340050
8               10.918919        0.426427
9               10.250000        0.506128
10              10.370370        0.716822
11               7.875000        1.000566
12               9.666667        1.909043

In [160]:
salaries=pd.read_csv('..\\Data\\nhl_salaries.csv')
salaries['Salary']=salaries['Salary'].replace('[\$,]', '', regex=True).astype(float)

pick=nhl_draft[['player', 'round', 'overall_pick']]
pick=pick.rename(columns={'player':'name'})
salaries=salaries.rename(columns={'Player':'name'})
skaterSalaries=skaters.merge(salaries, on='name', how='left')
skaterSalaries=skaterSalaries.merge(pick, on='name', how='left')
skaterSalaries=skaterSalaries[['name', 'season', 'round', 'Salary', 'overall_pick']]
goalieSalaries=goalies.merge(salaries, on='name', how='left')
goalieSalaries=goalieSalaries.merge(pick, on='name', how='left')
goalieSalaries=goalieSalaries[['name', 'season', 'round', 'Salary', 'overall_pick']]

In [161]:
goalieByRound=goalieSalaries.groupby('round').mean()
skaterByRound=skaterSalaries.groupby('round').mean()

skaterByRound.index.names = ['Round']
skaterByRound=skaterByRound.rename(columns={'Salary':'Mean Skater Salary'})
skaterByRound.index=skaterByRound.index.astype(int)
seSkater=skaterSalaries.groupby('round').sem()
skaterByRound['Standard Error']=seSkater['Salary']
dfi.export(skaterByRound[['Mean Skater Salary', 'Standard Error']].style.format("{:.0f}"), 'meanSkaterSalary.png')

In [162]:
goalieByRound.index.names = ['Round']
goalieByRound=goalieByRound.rename(columns={'Salary':'Mean Goalie Salary'})
goalieByRound.index=goalieByRound.index.astype(int)

seGoalie=goalieSalaries.groupby('round').sem()
goalieByRound['Standard Error']=seGoalie['Salary']
dfi.export(goalieByRound[['Mean Goalie Salary', 'Standard Error']].style.format("{:.0f}"), 'meanGoalieSalary.png')