In [4]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

In [3]:
df = pd.read_csv('NFL_RDD_est.csv', index_col=0)
df

                     band16      se16   t16  optimal_band    opt_se  opt_t
Outcome
Seasons Played     0.448642  0.173594  2.58     -0.062048  0.407958  -0.15
Age of Retirement  0.422668  0.172475  2.45     -0.030698  0.407215  -0.08
Seasons Started    0.632508  2.616703  3.80      0.017495  0.265758   0.07
Games Played       9.944647  0.113701  5.56      2.270287  6.193703   0.37

In [5]:
dfi.export(df.style.format("{:.3f}"), 'NFL_RDD_est.png')

In [6]:
df = pd.read_csv('NHL_RDD_est.csv', index_col=0)
dfi.export(df.style.format("{:.3f}"), 'NHL_RDD_est.png')
df

                     band16       se16   t16  optimal_band     opt_se  opt_t
Outcome
Seasons Played    -1.990655   0.476359 -4.18     -1.398316   1.468063  -0.95
Games Played       8.515427  11.346820  0.75     22.171100  35.411570   0.63
Age of Retirement -0.610028   0.260694 -2.34     -0.500148   0.797491  -0.63