In [4]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

In [16]:
df = pd.read_csv('NFL_RDD_est.csv', index_col=0)
col = ['band16', 'se16', 'optimal_band', 'opt_se']

for c in col:
    df[c] = df[c].apply(lambda x: round(x, 2))
df

                   band16  se16      t16  optimal_band  opt_se    opt_t
Outcome
Seasons Played       0.38  0.17   2.18**          0.01    0.44     0.02
Age of Retirement    0.33  0.17    1.90*         -0.03    0.43    -0.07
Games Played         9.34  2.63  3.55***          3.17    6.64     0.48
Seasons Started      0.79  0.12  6.83***          0.83    0.30  2.79***

In [17]:
dfi.export(df, '..\\..\\Images\\NFL_RDD_est.png')

In [15]:
df = pd.read_csv('NHL_RDD_est.csv', index_col=0)
col = ['band14', 'se14', 'optimal_band', 'opt_se']

for c in col:
    df[c] = df[c].apply(lambda x: round(x, 2))

dfi.export(df, '..\\..\\Images\\NHL_RDD_est.png')
df

                   band14   se14       t14  optimal_band  opt_se   opt_t
Outcome
Seasons Played      -1.76   0.48  -3.66***         -3.08    1.59  -1.93*
Games Played        18.04  11.27      1.60         19.35   35.33    0.55
Age of Retirement   -0.51   0.26    -1.96*         -1.46    0.82  -1.78*