In [1]:
import scipy.stats as stats
import numpy as np
import pandas as pd

In [32]:
nhl_boot=pd.read_csv('..\\..\\Data\\stata-files\\nhl_draft.csv')
nhl_boot=nhl_boot[(nhl_boot['distRound']>=-5) & (nhl_boot['distRound']<=5)]
nhl_boot=nhl_boot[["distRound", 'Years_Played']]
nhl_boot=nhl_boot.dropna()

In [33]:
B=10_000
bootstraps={}
for i in range(-5,6):
    years=nhl_boot[nhl_boot['distRound']==i]['Years_Played'].to_numpy()
    for b in range(B):
        boot=np.random.choice(years, size=len(years), replace=True)
        bootstraps[i]=np.mean(boot)

bootstraps=pd.DataFrame(bootstraps, index=range(B))
bootstraps.to_csv('..\\..\\Data\\stata-files\\nhl_draft_boot.csv', index=False)

In [30]:
B=10_000
years_played=nhl_boot['Years_Played'].dropna().to_numpy()
dist_round=nhl_boot['distRound'].dropna().to_numpy()
years=np.empty(B)
rv=np.empty(B)
for b in range(B):
    years[b] = np.random.choice(a=years_played, size=50, replace=True).mean()
    rv[b] = np.random.choice(a=dist_round, size=1, replace=True)[0]

nhl_bootstrap=pd.DataFrame({'years_played':years, 'dist_round':rv})

nhl_bootstrap

      years_played  dist_round
0             9.72         3.0
1            10.20         3.0
2             8.78         3.0
3            10.00        -2.0
4             9.02         3.0
...            ...         ...
9995          9.78        -4.0
9996          9.10         5.0
9997         10.66         2.0
9998          9.00         4.0
9999          8.98        -3.0

[10000 rows x 2 columns]

In [31]:
nhl_bootstrap.to_csv('..\\..\\Data\\stata-files\\nhl_draft_boot.csv', index=False)